altgraph==0.17.4
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
customtkinter==5.2.2
cx-Logging==3.1.0
cx_Freeze==6.15.15
darkdetect==0.8.0
et-xmlfile==1.1.0
Flask==3.0.2
Flask-Cors==4.0.0
fpdf==1.7.2
google-api-core==2.17.1
google-api-python-client==2.121.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
lief==0.14.0
lxml==5.1.0
MarkupSafe==2.1.5
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
pefile==2023.2.7
pillow==10.2.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyhwp==0.1b15
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
pyparsing==3.1.2
python-dateutil==2.8.2
python-docx==1.1.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
Werkzeug==3.0.1
